.ps-menu-item {
  background: transparent;
  border: none;
  color: var(--text);
  font-size: 12px;
  padding: 7px 16px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: background .15s;
}
.ps-menu-item:hover {
  background: var(--bg-item);
  color: var(--accent2);
}

